#
# Enable compression and Forwarding for all hosts
#
Host *
ForwardX11 yes
Compression yes

#
# By default perform compression
#
host *


#
# SSH Firewall Portal
#
host PORTAL
port 2223
localforward 8001 web:80
localforward 3690 svnserver:3690
user USERNAME


#
# Linux tunnels
# tunnels using the netcat 
#
host INSIDE
user USER2
proxycommand ssh PORTAL netcat %h 22


#
# General tunneling
# tunnels despite the portal installed tools.Note the bash trick.
# Only a bash account is needed, quite handy to tunnel through Irix, Solaris, Aix.
# it uses the PORTAL as gateway to connect to the 1.1.1.1
#
host INSIDE2
user USER3
ProxyCommand ssh PORTAL 'exec 3<>/dev/tcp/1.1.1.1/22; cat <&3 & cat >&3;kill $!'



